@tailwind base;
@tailwind components;
@tailwind utilities;

.homebg{
  background-image: url('../public/homepic/lawhome.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.aboutbg{
  background-image: url('../public/homepic/about.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
